nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}
.noto-sans-jp-normal {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.header{

    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    margin-bottom: 130px;
    
}
.btn{
    background-color: #FD6E0A;
    color:white ;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
        margin: 0 38px 0 130px;
}
span{
    color: #FD6E0A
}
nav ul li{
    list-style: none;
        margin-right: 50px ;
        

}
nav ul{
    display: flex;
    align-items: center

}
nav ul a {
    text-decoration: none;
}
.dark-2{
    color: #474747;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.content{
  max-width: 580px; 

}
.banner-h4{
    font-size: 45px;
    font-weight:600;
}
.dar-1{
    #181818;
}

.text-center{
    text-align: center;
}
.banner-h1{
    font-size: 85px;
    font-weight: bold;
}
.banner-img{
width: 584px;
height: 676px;
}
.section-title,.skill-title{
    font-size: 35;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20
}
     .section-description,.skill-description,.experience-description{
    font-size: 18px;
    line-height: 30px;
    color: #757575;

}
.skill-description{
     font-size: 18px;
    line-height: 30px;
    color: #757575;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.section{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    

}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    line-height: 0px
}
.item-description{
    font-weight: 600;

}
.skills-container{
    display: flex;gap: 24px;
    
    border-radius: 5px;
    
}
.skill-item{
    padding: 30px;
    box-shadow: 0px 6px 50px 10px   rgba(0, 0, 0, 0.06);
}
.resume-container{
    display: flex;
    gap: 30px;


}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
    
}
.experience-subtitle{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;color: #474747;
}
.btn-center{
    text-align: center;
    margin-top: 50px
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 200px;
    align-items: center
}
    .font-size{
        font-size: 35px;
    }  
    .footer-column{
        width: 50%;
    }
    footer input[type="text"],input[type="email"],textarea{ 
        height: 46px;
        width:  100%;
        border-radius: 5px;
        background-color: white;
        border: none;
        padding: 10px;
        display: block;
        
    }